<html>

<head>
    <title>Cadastro de cliente</title>
</head>

<body>

    <div>@ViewBag.Mensagem</div>

    <form action="/cliente/create" method="post">

        <input placeholder="Endereco" name="Endereco"/><br/>
        <input placeholder="Razao Social" name="Razao Social"/><br/>
        <input placeholder="Nome Fantasia" name="Nome Fantasia"/><br/>
        <button>Salvar</button>

    </form>

</body>

</html>